@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

* {
  box-sizing: border-box;
}

h1, h2, h3, input[type=text], p, button, span {
  all: unset;
}

body {
  margin: 0;
  font-family: 'Questrial', sans-serif;
}

.main {
  display: flex;
}