.content {
  flex: 1;
  background-color: #EEE;
}

.content nav {
  flex: 1 0 0;
  background-color: white;
  padding: 20px 38px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid #D1D1D1;
}

.content nav .search {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #E7E7E7;
  padding: 8px 12px;
  width: 300px;
  border-radius: 20px;
}

.content nav .right {
  display: flex;
  gap: 32px;
  align-items: center;
}

.content nav .right hr {
  height: 36px;
  border-color: #D1D1D1;
  width: 1px;
}

.content .outerExchange {

  background-color: #FAFAFA;
  display: flex;
  justify-content: center;
}

.content .exchange {
  background-color: #FAFAFA;
  flex-grow: 0;
  display: flex;
  align-items: center;
  overflow-x: auto;
  width: 85dvw;
}

.content .exchange::-webkit-scrollbar {
  display: none;
}

.content .exchange > span {
  display: flex;
  align-items: center;
  gap: 60px;
  padding: 0 32px;
  margin: 6px 0;
  border-right: 1px solid #CACACA;
  flex-grow: 0;
  width: 200px;
} 

.content .exchange > span > div {
  display: flex;
  flex-direction: column;
} 

.content .exchange p {
  color: #739390;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}

.content .exchange h1 {
  color: #223231;
  line-height: 20px;
  font-size: 14px;
}

.content .exchange h2 {
  color: #DE5B5B;
  line-height: 16px;
  font-size: 12px;
}

@media (min-width: 1120px) {
  .content .main {
    margin:  32px 32px 45px 32px;
    width: min-content;
    display: flex;
    gap: 24px;
  }

  .content .main .left {
    width: min-content;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .content .sendPopup .bottom .scroll > div {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    margin-bottom: 32px;
    border-bottom: 0.5px solid #D1D1D1;
    margin-right: 22px;
  }
  
}

@media (max-width: 1119px) {
  .content .main {
    margin:  32px 32px 45px 32px;
    width: min-content;
    display: flex;
    flex-direction: column-reverse;
    gap: 24px;
  }

  .content .main .left {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 0;
    align-items: center;
    justify-items: flex-start;
  }

  .content .sendPopup .bottom .scroll > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding-bottom: 20px;
    margin-bottom: 32px;
    border-bottom: 0.5px solid #D1D1D1;
    margin-right: 22px;
  }

  .content .sendPopup .bottom .scroll > div button {
    padding: 15px 0;
  }
}


.content .main .card {
  width: 292px;
  height: 322px;
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content .main .card .background {
  height: 116px;
  width: 100%;
  background-image: url("../pages/components/assets/Banner.png");
  background-size: contain;
}

.content .main .card .middle {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  position: absolute;
  margin-top: 61px;
  padding-bottom: 16px;
}

.content .main .card .middle h1 {
  margin-top: 12px;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 600px;
}

.content .main .card .middle p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #465D61;
}

.content .main .card .bottom {
  flex: 1;
  border-top: 0.5px solid #D1D1D1;
  margin-top: 124px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}


.content .main .card .bottom > div {
  display: grid;
  place-content: center;
}

.content .main .card .bottom .leftChild {
  border-right: 0.5px solid #D1D1D1;

}

.content .main .card .bottom h1 {
  font-size: 18px;
  color: #0B1E1C;
  font-weight: 600;
}

.content .main .card .bottom p {
  font-size: 12px;
  color: #0D1B1D;
}

.content .main .member {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  word-wrap: balance;
  width: 247px;
  font-size: 14px;
  line-height: 20px;

}

.content .main .member button {
  background-color: #00808B;
  margin-top: 12px;
  color: white;
  height: 44px;
  border-radius: 50px;
}

.content .main .news {
  padding: 24px 20px;
  background-color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column  ;
  width: 100%;
}

.content .main .news h1 {
  font-size: 18px;
  color: #0B1E1C;
  font-weight: 600;
  border-bottom: 0.5px solid #D1D1D1;
  padding-bottom: 16px;
}

.content .main .news > div {
  margin: 16px 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.content .main .news > div > div span {
  display: flex;
  gap: 4px;
}

.content .main .news > div div {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.content .main .news > div h3 {
  font-size: 14px;
  line-height: 20px;
  color: #0D1B1D;
  font-weight: 500;
}

.content .main .news div p {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.content .main .news > span {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  align-items: center;
  gap: 4px;
}

.content .main .right {
  /* display: none; */
}

.content .main .right .post {
  width: 616px;
  background-color: white;
  border-radius: 15px;
  padding: 24px 20px 12px 20px ;
}

.content .main .right .post .top {
  display: flex;
  gap: 12px;
  align-items: center;
  font-size: 16px;
  padding-bottom: 16px;
  border-bottom: 0.5px solid #D1D1D1;
}

.content .main .right .post .top input::placeholder {
  color: inherit;
}

.content .main .right .post .bottom {
  padding-top: 16px;
  display: flex;
  justify-content: space-between;
}

.content .main .right .post .bottom button {
  width: 84px;
  height: 34px;
  background-color: #00808B;
  display: grid;
  place-items: center;
  color: white;
  font-size: 14px;
  font-weight: 600;
  border-radius: 50px;
}

.content .main .right .post .bottom > div {
  display: flex;
  align-items: center;
  gap: 20px;
}

.content .main .right .post .bottom > div > div {
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 8px;
}

.content .main .right .feed {
  margin-top: 20px;
  background-color: white;
  border-radius: 15px;
  padding: 20px 0;
}

.content .main .right .feed .top {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content .main .right .feed .top > div {
  display: flex;
  align-items: center;
  gap: 16px;
}

.content .main .right .feed .top > div > div {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.content .main .right .feed .top > div > div h1 {
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  color: #0B1E1C;
}

.content .main .right .feed .imagePosted {
  background-image: url("../pages/components/assets/postedImage.png");
  height: 278px;
  margin: 20px 0;
}

.content .main .right .feed .bottom {
  padding: 0 20px 20px 20px;
}

.content .main .right .feed .bottom > p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.content .main .right .feed .bottom > .reacts {
  margin-top: 20px;
  padding-bottom: 12px;
  border-bottom: 0.5px solid #D1D1D1;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.content .main .right .feed .bottom > .reacts > div {
  display: flex;
  align-items: center;
  gap: 4px;
}

.content .main .right .feed .bottom .likes {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}

.content .main .right .feed .bottom .likes > * {
  width: 160px;
  padding: 8px 0;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
  transition: all 100ms ease-in-out;
}

.content .main .right .feed .bottom .likes > *:hover {
 background-color: rgba(0, 128, 139, 0.06);
}

.content .main .right .feed .bottom .send {
  display: flex;
  align-items: center;
  gap: 12px;
}

.content .main .right .feed .bottom .send input {
  flex: 1;
  border: 1px solid #D1D1D1;
  padding: 10px 0;
  border-radius: 20px;
  padding-left: 12px;
}

.content .main .right .feed .feedOption:focus .feed1Option {
  display: flex;
  position: absolute;
}

.content .main .right .feed .feed1Option {
  display: none;
  flex-direction: column;
  background-color: white;
  margin-top: 15px;
  margin-left: -130px;
  padding: 20px;
  border-radius: 10px;
  gap: 23px;
  box-shadow: 0 0 10px grey;
}

.content .main .right .feed .feed1Option > div {
  display: flex;
  align-items: center;
  gap: 8px;
}

.content .main .right .postHidden {
  padding: 23px 20px;
  margin: 12px 0;
  background-color: #222222;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  color: white;
}

.content .main .right .postHidden h1 {
  font-size: 16px;
  font-weight: 500;
}

.content .main .right .postHidden p {
  font-size: 14px;
  font-weight: 400;
}

.content .main .right .postHidden > div {
  display: flex;
  gap: 20px;
  align-items: center;
}

.content .main .right .postHidden > div > div {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.content .popup {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  height: 100vh;
  width: 100vw;
  display: grid;
  place-content: center;
}

.content .popupBackground {
  background-color: rgba(0, 0, 0, 0.65);
  height: 100%;
  width: 100%;
  position: fixed;

}

.content .popupContent {
  position: relative;
  padding: 38px 76px;
  background-color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  
}

.content .popupContent h1 {
  font-size: 18px;
  font-weight: 600;
}

.content .popupContent p {
  width: 193px;
  margin-top: 8px;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 400;
  color: #465D61;
  line-height: 20px;
}

.content .popupContent > div {
  display: flex;
  gap: 24px;
}

.content .popupContent > div button {
  padding: 8px 28px;
  border-radius: 20px;
  border: 1px solid #D1D1D1;
  font-size: 16px;
  font-weight: 600;
  
}

.content .sendPopup {
  background-color: white;
  position: relative;
  height: 90vh;
  width: 40vw;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  
}

.content .sendPopup .top {
  padding: 0 40px;
  padding-top: 46px;
  padding-bottom: 34px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.5px solid #D1D1D1;
  font-size: 20px;
  color: #0D1B1D;
  font-weight: 600;
} 

.content .sendPopup .bottom {
  padding: 16px 40px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  flex: 1;
  overflow-y: hidden;
  
}

.content .sendPopup .bottom .search {
  display: flex;
  align-items: center;
  gap: 12px;
  background-color: #E7E7E7;
  padding: 12px 20px;
  border-radius: 30px;
}


.content .sendPopup .bottom .scroll {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 80%;
  
}

.content .sendPopup .bottom .scroll::-webkit-scrollbar {
  background-color: #D1D1D1;
  border-radius: 34px;
  width: 8px;
}

.content .sendPopup .bottom .scroll::-webkit-scrollbar-thumb {
  background-color: #222222;
  border-radius: 34px;
  width: 8px;
}

.content .sendPopup .bottom .scroll button {
  width: 168px;
  height: 43;
  border-radius: 50px;
  background-color: #00808B;
  display: grid;
  place-content: center;
  color: white;
  font-weight: 600;
}
.content .sendPopup .bottom .scroll h1 {
  font-size: 16px;
  font-weight: 600;

}

.content .sendPopup .bottom .scroll p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.content .sendPopup .bottom .scroll > div > div {
  display: flex;
  align-items: center;
  gap: 12px;
}

.content .sendPopup .bottom .scroll > div > div > div {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.content .postShared {
  display: flex;
  flex-direction: column;
  padding: 45px 115px;
  position: relative;
  background-color: white;
  border-radius: 15px;
  align-items: center;

}

.content .postShared h1 {
  font-size: 18px;
  font-weight: 600;
  margin-top: 16px;
  margin-bottom: 8px;
}

.content .postShared p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.content .reportIssue1 {
  padding: 25px 0;
  background-color: white;
  position: relative;
  border-radius: 10px;
  width: 400px;
  height: 298px;
  display: flex;
  flex-direction: column;
}

.content .reportIssue1 h1 {
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
}

.content .reportIssue1 .top {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 27px;

}

.content .reportIssue1 .mid > div {
  display: flex;
  gap: 8px;
  align-items: center;
}

.content .reportIssue1 .mid {
  border-top: 0.5px solid #D1D1D1;
  border-bottom: 0.5px solid #D1D1D1;
  padding: 22px 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.content .reportIssue1 .bot {
  flex: 1 0 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 20px;

}

.content .reportIssue1 .bot button {
  padding: 8px 0;
  width: 120px;
  border: 1px solid #D1D1D1;
  border-radius: 50px;
  display: grid;
  place-content: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}

.content .reportIssue2 {
  background-color: white;
  position: relative;
  padding: 55px 79px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.content .reportIssue2 h1 {
  font-size: 18px;
  font-weight: 600

}

.content .reportIssue2 p {
  margin-top: 8px;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #465D61;
}

.content .reportIssue2 button {
  background-color: #00808B;
  padding: 8px 28px;
  border-radius: 50px;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  color: white;
}